.contacts-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts {
  color: $title-text-color;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: center;
  align-items: center;
  @include transition(color);
}
.contacts:hover,
.contacts:focus {
  color: $accent-color;
}
.contacts-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail {
  width: 16px;
  height: 12px;
  fill: $icon-color;
  margin-right: 10px;
  @include transition(fill);
}
.contacts-mail:hover .mail,
.contacts-mail:focus .mail {
  fill: $accent-color;
}
.contacts-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  width: 10px;
  height: 16px;
  fill: $icon-color;
  margin-right: 10px;
  @include transition(fill);
}
.contacts-phone:hover .phone,
.contacts-phone:focus .phone {
  fill: $accent-color;
}
