.hero {
  position: relative;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.hero-container {
  position: absolute;
  max-width: 360px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: $primayry-white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@include for-size(tablets) {
}
@include for-size(desktop) {
  .hero {
    height: 600px;
  }
  .hero-container {
    max-width: 700px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}
